.button {
  width: 420px;
  height: 70px;
  font-size: 24px;
  border: #363348 1px solid;
  background: #363348;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff;
  margin-top: 50px;

  /* Анимация при наведении */
  &:hover {
    background: rgb(63, 60, 78); /* чуть светлее/темнее */
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(54, 51, 72, 0.3);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 2px 6px rgba(54, 51, 72, 0.2);
  }

  @media (max-width: 768px) {
    width: 380px;
    height: 60px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
  }

  @media (max-width: 600px) {
    width: 380px;
    height: 55px;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 500px) {
    width: 360px;
    height: 52px;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 10px;
  }

  @media (max-width: 420px) {
    width: 300px;
    height: 49px;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  @media (max-width: 390px) {
    width: 320px;
    height: 47px;
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  @media (max-width: 360px) {
    width: 280px;
    height: 45px;
    font-size: 12px;
    margin-top: 25px;
  }
}
