.button {
  width: 420px;
  height: 70px;
  font-size: 24px;
  border: #363348 1px solid ;
  background: #363348;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff;
  margin-top: 50px;

  &:active {
    transform: translateY(1px);
  }

  @media (max-width: 768px) {
    width: 380px;
    height: 60px;
    font-size: 20px;
    margin-top: 40px;
  }

  @media (max-width: 600px) {
    width: 380px;
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
  }

  @media (max-width: 500px) {
    width: 360px;
    height: 45px;
    font-size: 16px;
    margin-top: 25px;
  }

  @media (max-width: 420px) {
    width: 300px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
  }

  @media (max-width: 390px) {
    width: 320px;
    height: 37px;
    font-size: 13px;
    margin-top: 15px;
  }

  @media (max-width: 360px) {
    width: 280px;
    height: 32px;
    font-size: 12px;
    margin-top: 15px;
  }
}