.card-work {
  width: 251px;
  height: 132px;
  border: #363348 1px solid;
  font-size: 24px;
  color: #363348;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 40px;
  img{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px ;
  }
}

@media (max-width: 1100px) {
  .card-work {
    width: 220px;
    height: 120px;
    font-size: 22px;
    line-height: 36px;
  }
  img{
    height: 20px;
  }
}

@media (max-width: 900px) {
  .card-work {
    width: 180px;
    height: 110px;
    font-size: 20px;
    line-height: 34px;
  }
  img{
    height: 15px;
  }
}

@media (max-width: 600px) {
  .card-work {
    width: 160px;
    height: 110px;
    font-size: 16px;
    line-height: 32px;
    margin: 10px;
  }
  img{
    height: 10px;
  }
}

@media (max-width: 450px) {
  .card-work {
    width: 138px;
    height: 105px;
    font-size: 14px;
    line-height: 30px;
    margin: 7px;
    justify-content: center;
  }
  img{
    height: 6px;
  }
}

@media (max-width: 389px) {
  .card-work {
    width: 130px;
    height: 100px;
    font-size: 12px;
    line-height: 28px;
    margin: 6px;
  }
  img{
    height: 3px;
  }
}

@media (max-width: 320px) {
  .card-work {
    width: calc(50% - 10px);
    height: 95px;
    font-size: 10px;
    line-height: 26px;
    margin: 5px;
  }
}
