.card-sob {
  width: 400px;
  height: 400px;
  border: #363348 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  transition: background 0.3s ease, transform 0.3s ease;
  //margin: 10px;
  a{
    text-decoration: none;
    font-size: 30px;
    color: #363348;
    margin-bottom: 15px;
    word-break: break-word;
    cursor: pointer;
  }
  img {

    width: 150px;
    height: 150px;
    margin: 20px auto 30px;
  }
  .line {
    height: 1px;
    background: #363348;
    width: 100%;
  }

  .date {
    font-size: 24px;
    color: #363348;
    margin-top: 10px;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  .title-card {
    font-size: 30px;
    color: #363348;
    margin-bottom: 15px;
    word-break: break-word;
    cursor: pointer;

    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1024px) {
  .card-sob {
    width: 250px;
    height: 270px;
    padding: 8px;
    a {
      font-size: 24px;
      margin-bottom: 20px;
    }
    img {
      width: 90px;
      height: 90px;
      margin: 20px auto 25px;
    }
    .title-card {
      font-size: 24px;
    }

    .date {
      font-size: 16px;
    }
  }

}

@media (max-width: 768px) {
  .cards-container {
    gap: 15px;
  }

  .card-sob {
    width: 200px;
    height: 210px;

    a {
      font-size: 18px;
    }
    img {
      width: 70px;
      height: 70px;
      margin: 15px auto 20px;
    }

    .title-card {
      font-size: 18px;
      margin: 5px;
    }


    .date {
      font-size: 14px;
      margin: 5px;
    }
  }


}


@media (max-width: 480px) {
  .cards-container {
    gap: 8px;
    padding: 4px;
  }

  .card-sob {
    width: calc(50% - 10px);
    max-width: 135px;
    height: 135px;
    padding: 6px;
    a {
      font-size: 12px;
    }
    img {
      width: 50px;
      height: 50px;
      margin: 6px auto 6px;
    }

    .title-card {
      font-size: 12px;
      margin: 2px;
    }
    .date {
      font-size: 8px;
      margin: 2px;
    }
  }
}
.card-sob:hover {
  background: rgba(54, 51, 72, 0.3);
}