/* Базовые стили */
.card-sob {
  width: 400px;
  height: 400px;
  border: #363348 solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 30px;
  box-sizing: border-box;
  transition: transform 0.3s;
  //margin: 10px;
}

.img {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 20px auto 30px;
}

.title-card {
  font-size: 30px;
  color: #363348;
  margin-bottom: 15px;
  word-break: break-word;
}

.title-card:hover {
  color: #ddd;
}

.line {
  height: 1px;
  background: #363348;
  width: 100%;
}

.date {
  font-size: 24px;
  color: #363348;
  margin-top: 10px;
}

/* Контейнер для карточек */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Адаптив */
@media (max-width: 1024px) {
  .card-sob {
    width: 250px;
    height: 250px;
    padding: 8px;
  }

  .img {
    width: 95px;
    margin: 15px auto 20px;
  }

  .title-card {
    font-size: 22px;
  }

  .date {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .cards-container {
    gap: 15px;
  }

  .card-sob {
    width: 200px;
    height: 200px;
  }

  .img {
    width: 75px;
    margin: 12px auto 15px;
  }

  .title-card {
    font-size: 18px;
    margin: 5px;
  }

  .date {
    font-size: 15px;
    margin: 5px;
  }
}


@media (max-width: 480px) {
  .cards-container {
    gap: 8px;
    padding: 4px;
  }

  .card-sob {
    width: calc(50% - 10px);
    max-width: 135px;
    height: 135px;
    padding: 6px;
  }

  .img {
    width: 50px;
    margin: 6px auto 6px;
  }

  .title-card {
    font-size: 12px;
    margin: 2px;
  }

  .date {
    font-size: 10px;
    margin: 2px;
  }
}