.card-pers {
  width: 420px;
  height: 450px;
  border: #363348 1px solid;
  box-shadow: 0 0 15px rgba(54, 51, 72, 0.2);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;

  .year {
    color: #363348;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 60px;
    width: 100%;
  }

  .inf-year {
    color: #363348;
    font-size: 22px;
    line-height: 1.4;
    width: 100%;
  }

  @media (max-width: 1200px) {
    width: 380px;
    height: 410px;
    padding: 45px;

    .year {
      font-size: 28px;
      margin-bottom: 50px;
    }

    .inf-year {
      font-size: 21px;
      line-height: 1.35;
    }
  }

  @media (max-width: 1024px) {
    width: 350px;
    height: 280px;
    padding: 40px;

    .year {
      font-size: 24px;
      margin-bottom: 25px;
    }

    .inf-year {
      font-size: 18px;
      line-height: 1.3;
    }
  }

  @media (max-width: 768px) {
    width: 380px;
    height: 250px;
    padding: 35px;

    .year {
      font-size: 22px;
      margin-bottom: 20px;
    }

    .inf-year {
      font-size: 16px;
      line-height: 1.3;
    }
  }

  @media (max-width: 480px) {
    width: 320px;
    height: 200px;
    padding: 25px;

    .year {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .inf-year {
      font-size: 14px;
      line-height: 1.25;
    }
  }

  @media (max-width: 360px) {
    width: 280px;
    height: 190px;
    padding: 20px;

    .year {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .inf-year {
      font-size: 14px;
      line-height: 1.2;
    }
  }
}