footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px 20px;
  color: white;
  background: #363348;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  @media (max-width: 1024px) {
    font-size: 12px;
  }
  @media (max-width: 768px) {
    font-size: 10px;
  }
  @media (max-width: 420px) {
    font-size: 8px;
  }
  @media (max-width: 360px) {
    font-size: 6px;
  }
}