.memo1 {
  display: flex;
  padding: 2.8vh;
  justify-content: center;
  align-items: center;
  border: #363348 1px solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  p {
    font-size: 20px;
    text-align: center;
  }

  img {
    height: 420px;
  }

  .img1 {
    display: block;
    justify-content: space-between;
  }
}

@media (max-width: 1400px) {
  .memo1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
    img {
      height: 390px;
    }

    p {
      font-size: 19px;
    }
  }
}

@media (max-width: 1200px) {
  .memo1 {
    padding: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    img {
      height: 370px;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 992px) {
  .memo1 {
    padding: 1.8vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.13);

    img {
      height: 320px;
    }

    p {
      font-size: 17px;
    }
  }
}

@media (max-width: 768px) {
  .memo1 {
    padding: 1.5vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.11);

    img {
      height: 250px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 576px) {
  .memo1 {
    padding: 1.1vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    img {
      height: 200px;
    }

    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 480px) {
  .memo1 {
    padding: 0.8vh;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

    img {
      height: 280px;
    }

    p {
      font-size: 13px;
    }
  }
}

@media (max-width: 400px) {
  .memo1 {
    padding: 0.5vh;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.07);

    img {
      height: 260px;
    }

    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 360px) {
  .memo1 {
    padding: 0.2vh;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.05);

    img {
      height: 250px;
    }

    p {
      font-size: 11px;
    }
  }
}

.memo1:hover{
  transform: scale(1.15);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}