.transition{
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  a{
    text-decoration: none;
    color: #D9D9D9;
    font-size: 20px;
  }
  @media (max-width: 1200px) {
    margin-top: 30px;
    margin-bottom: 30px;
    a{
      font-size: 19px;
    }
  }
  @media (max-width: 768px) {
    margin-top: 20px;
    margin-bottom: 20px;
    a{
      font-size: 18px;
    }
  }
  @media (max-width: 480px) {
    margin-top: 15px;
    margin-bottom: 15px;
    a{
      font-size: 17px;
    }
  }
  @media (max-width: 360px) {
    margin-top: 10px;
    margin-bottom: 10px;
    a{
      font-size: 16px;
    }
  }
}