<header class="header">
  <input type="checkbox" id="burger-toggle" class="burger-toggle">
  <label for="burger-toggle" class="burger-btn">
    <span class="burger-line"></span>
    <span class="burger-line"></span>
    <span class="burger-line"></span>
  </label>

  <nav class="nav">
    <ul class="menu">
      <li class="menu-item">
        <a href="#" class="menu-link">МЕТОДИЧЕСКОЕ ПОРТФОЛИО</a>
        <ul class="submenu">
          <li><a href="#">Нормативно-правовая документация</a></li>
          <li><a href="#">Методическая литература</a></li>
          <li><a href="#">Материалы основной деятельности</a></li>
          <li><a href="#">Методические разработки</a></li>
        </ul>
      </li>

      <li class="menu-item">
        <a href="#" class="menu-link">ДЛЯ КОЛЛЕГ И РОДИТЕЛЕЙ</a>
        <ul class="submenu">
          <li><a href="parents.html">Для родителей</a></li>
          <li><a href="teachers.html">Для классных руководителей</a></li>
          <li><a href="#">Для начинающего социального педагога</a></li>
        </ul>
      </li>

      <li class="menu-item">
        <a href="students.html" class="menu-link">ДЛЯ ОБУЧАЮЩИХСЯ</a>
      </li>

      <li class="menu-item">
        <a href="achievements.html" class="menu-link">ДОСТИЖЕНИЯ</a>
      </li>

      <li class="menu-item">
        <a href="#" class="menu-link">ОБРАТНАЯ СВЯЗЬ</a>
      </li>

      <li class="menu-item">
        <a href="blog.html" class="menu-link">БЛОГ</a>
      </li>
    </ul>
  </nav>
</header>
