// ==== 1. Utils ====
@use 'utils/variables';

// ==== 2. Base styles ====
@use 'base/reset';
@use 'base/typography';
@use 'base/layout';

// ==== 3. Layout ====
@use 'layout/container';

// ==== 4. Components ====
@use 'components/button';
@use 'components/card';

//@font-face {
//  font-family: 'Anticva';
//  src: url('dist/assets/fonts/');
//}
body {

}
container{
  max-width: 1366px;
  justify-content: center;
}